html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
        
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
        
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
        
*, *:before, *:after {box-sizing: inherit}
        
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* DEFAULT AND OVERRIDES */

/* GENERIC OVERRIDES */
body,
ul,
h1,
h2,
h3,
h4, 
p,
label {
	margin: 0;
    padding: 0;
}

/* removes the list bullets */
ul {
	list-style: none;
}

/* removes default syling from links and buttons */
a {
	color: inherit;
	text-decoration: none;
}

/* makes images as wide as their container */
img {
	width: 100%;
	height: auto;
	display: block;
}

/* default font size and smooth scrolling - DON'T CHANGE */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    padding: 20px;    
    min-height: 100vh;
    min-width: 350px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(32, 32, 32);
    font-size: 1.7rem; 
    background-image: url(assets/image-from-rawpixel-id-539934-jpeg.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    position: relative;
}

/* default wrapper - DON'T CHANGE */
.wrapper {
	width: 90%;
	max-width: 1050px;
	margin: 0 auto;
}

.green {
    color: rgb(70, 192, 70);
}

.red {
    color: rgb(233, 59, 59);
}

header { 
    color: white;
    position: relative;
}

h1 { 
    text-transform: uppercase;
    letter-spacing: 2px; 
    margin-bottom: 20px;
    text-align: center; 
    font-weight: 600;
    font-size: 3rem;   
}

header a {
    font-size: 2.5rem;  
    display: inline-block; 
    position: absolute;
    top: 0;
}  

main {
    position: relative; 
}

.quiz-container {
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
    padding: 60px 80px;  
    min-height: 500px; 
    max-width: 700px; 
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

/* default sans serif font*/
.pointer {
    cursor: pointer;
}

h2 { 
    font-weight: 600;
    font-size: 2.4rem; 
}  

form {  
    margin-top: 20px; 
    display: flex;
    flex-direction: column;   
}

label {
    padding: 10px;
    display: inline-block;
    height: 100%;
    width: 100%;  
}

input[type="radio"] {
    display: none;
}

.container {
    border: 0.5px solid rgb(170, 170, 170);
    margin: 5px 0; 
    transition: all 0.2s;   
    font-weight: 400;
    border-radius: 6px; 
} 

.container:hover ,
input[type="radio"]:checked + label { 
    color: rgb(45, 66, 160);
    border: 0.5px solid white;
    box-shadow: 0px 0px 5px 5px #f0f0f0;
    border-radius: 6px; 
} 

input[type="submit"] {
    margin-top: 25px;
    width: 125px;
    align-self: center;
}

button, 
input[type="submit"] {
    padding: 10px 25px;
    border: 1px solid rgb(45, 66, 160);
    color: rgb(45, 66, 160);
    background-color: white;   
    transition: all 0.2s;   
    border-radius: 25px;
    font-family: inherit;
}

button:hover, 
input[type="submit"]:hover {
    background-color:rgb(45, 66, 160);
    color: white;
    border: 1px solid rgb(45, 66, 160);
}

.overlay {
    position: absolute; 
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0; 
    max-width: 700px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
}

.overlay p { 
    margin: 30px;
    font-weight: 600;
    font-size: 2.4rem;
    text-align: center;
}

.progressBar {
    height: 8px;
    width: 200px;
    border: 1px solid none;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    align-self: center;
    margin-top: 15px;   
}

.progress { 
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%); 
    height: 100%; 
    width: 0%; 
    border: 1px solid none;
    border-radius: 5px; 
} 

footer { 
    font-size: 1.4rem;
    color: white;
    position: absolute;
    bottom: 10px; 
    padding-top: 20px;
}

footer a {
    text-decoration: underline;
}

@media (max-width: 480px) {

    h1 { 
        font-size: 2rem;
    } 

    h2 {
        font-size: 2.2rem;
    }

    .quiz-container { 
        padding: 30px; 
    }

    form {
        margin-bottom: 20px;  
    }
}
