html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
        
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
        
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
        
*, *:before, *:after {box-sizing: inherit}
        
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* DEFAULT AND OVERRIDES */

/* GENERIC OVERRIDES */
body,
ul,
h1,
h2,
h3,
h4, 
p,
label {
	margin: 0;
    padding: 0;
}

/* removes the list bullets */
ul {
	list-style: none;
}

/* removes default syling from links and buttons */
a {
	color: inherit;
	text-decoration: none;
}

/* makes images as wide as their container */
img {
	width: 100%;
	height: auto;
	display: block;
}

/* default font size and smooth scrolling - DON'T CHANGE */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-width: 350px;
}

/* default wrapper - DON'T CHANGE */
.wrapper {
	width: 90%;
	max-width: 1050px;
	margin: 0 auto;
}

.quiz-container {
    margin-top: 50px;
    padding: 50px; 
    background-color:white; 
    max-width: 600px;
    box-shadow: 15px 15px 50px 5px #e6e6e6;
    border-radius: 10px;
    min-height: 550px;
}

section {
    position: relative;
}

/* default sans serif font*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(32, 32, 32);
    font-size: 1.7rem; 
}

.pointer {
    cursor: pointer;
}

h1 { 
    font-family: 'Bungee Shade', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-size: 3.1rem;
    text-align: center; 
}

h2 { 
    font-size: 2rem;   
    display:inline;
    background-image: linear-gradient(#fff 60%, rgb(123, 205, 211) 55%);
    font-weight: 600;
    line-height: 30px;
} 

form {  
    margin-top: 20px; 
    display: flex;
    flex-direction: column;  
}

label {
    padding: 10px;
    display: inline-block;
    height: 100%;
    width: 100%; 
}

input[type="radio"] {
    display: none;
}

.container {
    border: 0.5px solid rgb(170, 170, 170);
    margin: 5px 0; 
    transition: all 0.2s;   
    
    font-weight: 600;
} 

.container:hover ,
input[type="radio"]:checked + label { 
    color: rgb(30, 144, 150);
    box-shadow: 0px 0px 5px 5px #e6e6e6;
    border-radius: 6px;
} 

input[type="submit"] {
    margin-top: 25px;
    width:100px;
    align-self: center;
}

button {
    height: 40px;
    position: absolute;
    margin-top: 50px;
}

button, 
input[type="submit"] {
    padding: 5px 20px;
    border: 1.5px solid rgb(45, 66, 160);
    color: rgb(45, 66, 160);
    background-color: white; 
    letter-spacing: 2px;
    color: rgb(45, 66, 160);
    transition: all 0.2s;   
    border-radius: 6px;
}

button:hover, 
input[type="submit"]:hover {
    background-color:rgb(45, 66, 160);
    color: white;
    border: 1.5px solid rgb(45, 66, 160);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    position: absolute;
    display: inline-block;
    margin-bottom: 50px;
    font-size: 1.8rem;
}

.progressBar {
    height: 10px;
    width: 200px;
    border: 0.5px solid rgb(134, 134, 134);
    background-color:none;
    border-radius: 5px;
    align-self: center;
    margin-top: 10px;  
}

.progress { 
    background-color: rgb(123, 205, 211);
    height: 100%; 
    width: 0%; 
} 

footer { 
	display: flex;
	justify-content: center;
}

footer a {
	font-size: 2.5rem;  
	display: inline-block; 
	padding: 20px; 
	z-index: 20;
}  

@media (max-width: 480px) {
    h1 { 
        font-size: 2.8rem;
    }

    h2 {
        font-size: 1.8rem;
        line-height: 24px;
    }

    .quiz-container { 
        padding: 20px; 
    }
}
